@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.bg-image {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('https://source.unsplash.com/random/1920x1080/?iris%20flower');
    background-size: cover;
    /* filter: blur(10px); */
    z-index: -1;
}

.bg-image::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: -1;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.logo {
    margin-bottom: 30px;
}

.search-bar {
    display: flex;
    align-items: center;
    border-radius: 20px;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.search-bar input[type="text"] {
    flex: 1;
    font-size: 18px;
    font-weight: 400;
    color: #333;
    padding: 15px 20px;
    border: none;
    outline: none;
    background-color: #fff;
}

.search-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    background-color: #0078D7;
    color: #fff;
    border: none;
    outline: none;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.search-button:hover {
    background-color: #106EBE;
}

.fa-search {
    font-size: 24px;
}