@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: black;
}

body,
html {
    overflow: hidden;
}

.bg-image {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-size: cover;
    z-index: -1;
}

.bg-image::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.1);
    z-index: -1;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.logo {
    margin-bottom: 30px;
}

.search-bar {
    display: flex;
    align-items: center;
    border-radius: 20px;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 30em;
    height: 50px;
    margin-bottom: 40px;
}

.search-bar input[type="text"] {
    flex: 1;
    font-size: 18px;
    font-weight: 400;
    color: #333;
    padding: 15px 20px;
    border: none;
    outline: none;
    background-color: #fff;
    user-select: contain;
}

.search-bar input[type="text"]::placeholder {
    user-select: none;
    pointer-events: none;
}

.search-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    background-color: #0078D7;
    color: #fff;
    border: none;
    outline: none;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.search-button:hover {
    background-color: #106EBE;
}

.fa-search {
    font-size: 24px;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(1080deg);
    }
}

.rotate {
    animation: rotate 2s cubic-bezier(0.5, 0.2, 0.25, 0.8) infinite;
}

.rotate.stop {
    animation: none;
    transition: transform 1s ease-out;
    transform: rotate(1080deg);
}

@keyframes opacity {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 100;
    }
}

.opacity {
    animation: opacity 2s cubic-bezier(0.5, 0.2, 0.25, 0.8);
}

/* For devices with a screen width of 600px or less */
@media only screen and (max-width: 600px) {
    .search-bar {
        width: 20em;
    }

    .search-bar input[type="text"] {
        font-size: 14px;
        padding: 17px 20px;
        /* border-top-left-radius: 20px;
        border-bottom-left-radius: 20px; */
    }
}

/* For devices with a screen width of 375px or less */
@media only screen and (max-width: 375px) {
    .search-bar {
        width: 16em;
    }

    .search-bar input[type="text"] {
        font-size: 12px;
        padding: 18px 20px;
    }
}